.services-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.services-h1 {
    padding-top: 80px;
    font-size: 40px;
}
.services-icons {
    display: flex;
    justify-content: space-between;
}
.icon {
    background: #fed136;
    text-shadow: none;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.icon-h4 {
    display: flex;
    justify-content: space-around;
    padding-top: 85px;
    font-size: 25px;
    white-space: nowrap;
}

.services-p {
    width: 300px;
    color: gray;
    font-size: 15px;
}
