.services-h1 {
  font-size: 40px;
}
.services-icons {
  display: flex;
  justify-content: space-around;
}
.icon {
  background: #fed136;
  text-shadow: none;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.icon-h4 {
  display: flex;
  justify-content: space-around;
  padding-top: 85px;
  font-size: 25px;
  white-space: nowrap;
}
p {
  color: gray;
  font-size: 15px;
}
