@import url("https://fonts.googleapis.com/css?family=Montserrat");

.home-container {
    background-image: url(./header-bg.jpg);
    background-size: cover;
    height: 130vh;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}
.home-greeting {
    padding-top: 130px;
    background: transparent;
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: 400px;
    width: 100vw;
    margin: auto 0;
}
.home-button {
    border-style: none;
    border-radius: 5px;
    height: 65px;
    width: 220px;
    color: white;
    font-size: 1rem;
    background-color: #fed136;
    border-color: #fed136;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
p {
    margin: auto 0;
    font-style: italic;
    font-size: 40px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
    font-size: 80px;
}
